html
  head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')    
    //- link(rel='stylesheet', href='/jquery-ui.css')
    link(rel='stylesheet', href='/cover.css')
    //- script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')

    script.
      $(document).ready(function(){
      
      });
    style(type='text/css').  
      body{
            background-color:rgb(176,196,222);
        }
block content
  div(class="site-wrapper")
    div(class="site-wrapper-inner")
      div(class="cover-container")
        div(class="masthead clearfix")
          div(class="inner")
            h3(class="masthead-brand") Malachy Tobin
            ul(class="nav masthead-nav")
              li
                a(href="home") Home
              li(class="active")
                a(href="about") About
              li
                a(href="#") Projects
              li
                a(href="#") Contact
        div(class="inner cover")
          h1(class="about_details")
            img(class="img-thumbnail" src="/images/MalachyTobin.jpeg" width="150px")
            p
            h3(class="about_details") My name is Malachy. I'm a software developer based in Chicago. I am into running, bicycling, racing sailboats, and reading. I'm also completely obsessed with maps.            
            p
            h3(class="about_details") For a good long while I worked for the City of Chicago GIS department. I developed spatial web services and applications (mostly java). Of late I have been trying my hand at NodeJS and I'm really digging it!
            p

  
