html
  head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')    
    //- link(rel='stylesheet', href='/jquery-ui.css')
    link(rel='stylesheet', href='/cover.css')
    //- script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53624604-1', 'auto');
      ga('send', 'pageview');
      
      $(document).ready(function(){
      
      });
    style(type='text/css').  
      body{
            //- background-color:rgb(176,196,222);
            background-image:url("/images/skellig.jpg");
            background-position:50% 50%;
            background-repeat: no-repeat;
        }
block content
  div(class="site-wrapper")
    div(class="site-wrapper-inner")
      div(class="cover-container")
        div(class="masthead clearfix")
          div(class="inner")
            h3(class="masthead-brand") 
            ul(class="nav masthead-nav")
              li
                a(href="home") Home
              li
                a(href="about") About
              li
                a(href="projects") Projects
              li(class="active")
                a(href="contact") Contact
        div(class="inner cover")
          div.transp_box
            h1(class="cover-heading")
            h6(class="lead")
                p Let's Connect:
                a(href="https://linkedin.com/pub/malachy-tobin/28/641/754/" target='_blank')
                  img(class="malachy_logo" src="/images/linkedin4.png" width="50px")
                a(href="https://twitter.com/MalachyTobin" target='_blank')
                  img(class="malachy_logo" src="/images/twitter2.png" width="50px" )
                a(href="/MTobin_Resume.pdf" target='_blank')
                  img(class="malachy_logo" src="/images/iconResume.png" width="50px" )

  
