html
  head
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css')
    link(rel='stylesheet', href='/jquery-ui.css')
    link(rel='stylesheet', href='/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
    script(type='text/javascript', src='http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js')
    script(type='text/javascript', src='/chicago_malachy.js')
    script(type='text/javascript', src='/chicago_map.js')
    script.
      $(document).ready(function(){
      
      Window.map = L.map('map').setView([41.8819, -87.6278], 11);
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';
      var osm = new L.TileLayer(osmUrl, {minZoom: 8, maxZoom: 18, attribution: osmAttrib});
      Window.map.addLayer(osm);

      var wardGeoJson = "/temporary/Wards.json"
      addGeoJsonToMap(wardGeoJson);
      });
      $(function() {
      $( ".datepicker" ).datepicker();
      });
block content
  h1= title
  p This site uses 
    a(href='https://data.cityofchicago.org/' target='_blank') Chicago Open Data
    text  to generate grid based heat maps to measure the intensity of different 311 service requests
  p Click on the double arrow (&raquo) on the top left of the map to request a raster grid overlay
  div#mappanel
    div(class="panel")
      div(class="ui-widget")
        p Data Source:
          select(id="datasource_combo")
            option(value="rodent_baiting") Rodent Baiting
            option(value="abandoned_buildings") Abandoned Buildings
      div(class="ui-widget")
        p Status:
          select(id="status_combo")
            option(value="All") All
            option(value="Open") Open
            option(value="Closed") Closed
        p Start Date:   
          input(class="datepicker"  type="text" id="startDate")
        p End Date:   
          input(class="datepicker"  type="text" id="endDate")
      button#getOverlay(onClick="callServiceForOverlay()") Get Raster Overlay
    a(href="javascript:void(0)", class="slider-arrow show") &raquo
    div#map
