html
  head
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(type='text/javascript', src='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')    
    //- link(rel='stylesheet', href='/jquery-ui.css')
    link(rel='stylesheet', href='/cover.css')
    //- script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')

    script.
      $(document).ready(function(){
      
      });
    style(type='text/css').  
      body{
            background-image:url("/images/skellig.jpg");
            background-position:bottom;
        }
block content
  div(class="site-wrapper")
    div(class="site-wrapper-inner")
      div(class="cover-container")
        div(class="masthead clearfix")
          div(class="inner")
            h3(class="masthead-brand")
            ul(class="nav masthead-nav")
              li(class="active")
                a(href="#") Home
              li
                a(href="about") About
              li
                a(href="#") Projects
              li
                a(href="#") Contact
        div(class="inner cover")
          h1(class="cover-heading") Malachy Tobin
           p(class="lead") Software Developer, Tinkerer, Reader, Creator
           p(class="lead")
             a(href="#" class="btn btn-lg btn-default") Learn more
        div(class="mastfoot")
          div(class="inner" position:right)
            h8#caption Little Skellig Island, off the west coast of Ireland
